.section {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 2rem;
  color: black;
}

mat-card-content {
  margin-top: 20px;
}

.edit-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}

.save-btn {
  position: fixed;
  bottom: 30px;
  right: 130px;
  z-index: 100;
}

.cancel-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
}
