<app-navbar-employee></app-navbar-employee>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-group">
    <h2 class="text-center">Register</h2>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput id="username" type="text" formControlName="username" />
      <mat-error
        *ngIf="
          registerForm.get('username')!.invalid &&
          registerForm.get('username')!.touched
        "
      >
        Username is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email" />
      <mat-error
        *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
      >
        Email is required.
      </mat-error>
      <mat-error
        *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched"
      >
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
      />
      <mat-error
        *ngIf="
          registerForm.get('password')!.invalid &&
          registerForm.get('password')!.touched
        "
      >
        Password must be at least 6 characters long.
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
</div>
