<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Onboarding App</a>
  <div class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr/employee-profiles"
          >Employee Profiles</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr/visa-status-management"
          >Visa Status Management</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr/hiring-management"
          >Hiring Management</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hr/housing-management"
          >Housing Management</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Logout</a>
      </li>
    </ul>
  </div>
</nav>
